html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  margin: 0px; 
  background-color: #bbbbbb; 
  overflow: hidden;
}

.banner {
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

h1 {
  margin-top: 200px;
  color: white;
  font-family: 'Advent Pro', sans-serif;
}

.footer { 
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 128px;
}

.footer div {
  margin: 4px;
}

#fileDrop {
  float: left;
  width: 128px;
  font-size: 72px;
  text-align: center;
  background-color: rgba(169, 169, 169, .6);

}